################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LKResearch/v16/.suo
/AspnetCoreBase/obj
/AspnetCoreBase/bin/Debug/net5.0
/.vs/LKResearch/config
